<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hello</title>
    <script crossorigin src="lib/react.js"></script>
    <script crossorigin src="lib/react-dom.js"></script>
    <script src="lib/browser.min.js"> </script>
  </head>
  <style>
    .yellowColor{background-color: yellow}
  </style>
  <body>
        Hello world!
        <div id="root1"></div>
        <div id="root2"></div>
            <!-- <script src="handle.js" type="text/babel"></script> -->
            <!-- <script src="declareComponent.js" type="text/babel"></script> -->
            <!-- <script src="props.js" type="text/babel"></script> -->
            <!-- <script src="propsChildren.js" type="text/babel"></script> -->
            <!-- <script src="catchEvents.js" type="text/babel"></script> -->
            <!-- <script src="callFunction.js" type="text/babel"></script> -->
            <!-- <script src="state.js" type="text/babel"></script> -->
            <script src="ReferenceSelectInput.js" type="text/babel"></script>

  </body>

</html>
